<!-- Renderizar tarjetas -->
<app-tarjetas
  [items]="nuevasCanciones"
  [cantidadTarjetasMostradas]="cantidadTarjetasMostradas"
  [type]="'home'"
  (favorito)="_favoritos.guardarNuevoLanzamientoFavorito($event)">
</app-tarjetas>

<!-- Boton mostrar mas elementos-->
<div *ngIf="cantidadTarjetasMostradas < nuevasCanciones.length"> <!-- Mientras no llegue al final del arreglo, sigue apareciendo el boton de mostrar mas -->
  <app-show-more-button [type]="'home'" (mostrarMasTarjetas)="increaseShowHome()"></app-show-more-button>
</div>


