<!-- referencia local #busqueda, para guardar el contenido del formulario en cada momento (cada vez que apreto y suelto una tecla) y mandarselo al metodo buscarArtista con la propiedad .value-->
 <input #busqueda type="text" (keyup)="buscar(busqueda.value)" class="form-control" placeholder="Buscar @artista, cancion" id="formulario">

<!-- FAVORITOS -->
<div *ngIf="mostrarContenido===false"> <!-- Si el contenido del formulario de busqueda esta vacio, mustra los favoritos -->
  <div *ngIf="_favoritos.obtenerArtistasFavoritos().length > 0"> <!-- Si hay favoritos que mostrar, renderiza el fondo correspondiente y muestra las tarjetas -->
    <div class="fondo3 fondo-parrafo-redondeado">
      <p class ="parrafo-responsivo" >Artistas</p>
    </div>
    <!-- Renderizar tarjetas  de artistas favoritos -->
    <app-tarjetas
      [items]="_favoritos.obtenerArtistasFavoritos()"
      [cantidadTarjetasMostradas]="cantidadTarjetasMostradas"
      [type]="'favoriteartist'"
      (favorito)="eliminarArtistaFavorito($event)">
    </app-tarjetas>
  </div>
  <div *ngIf="_favoritos.obtenerCancionesFavoritas().length > 0">
    <div class="fondo2 fondo-parrafo-redondeado">
      <p class ="parrafo-responsivo">Canciones</p>
    </div>
    <!-- Renderizar tarjetas canciones favoritas-->
    <app-tarjetas
      [items]="_favoritos.obtenerCancionesFavoritas()"
      [cantidadTarjetasMostradas]="cantidadTarjetasMostradas"
      [type]="'favoritetrack'"
      (favorito)="eliminarCancionFavorita($event)">
    </app-tarjetas>
  </div>
  <div *ngIf="_favoritos.obtenerNuevosLanzamientosFavoritos().length > 0">
    <div class="fondo fondo-parrafo-redondeado">
      <p class ="parrafo-responsivo">Nuevos Lanzamientos</p>
    </div>
    <!-- Renderizar tarjetas de nuevos lanzamientos favoritos -->
    <app-tarjetas
      [items]="_favoritos.obtenerNuevosLanzamientosFavoritos()"
      [cantidadTarjetasMostradas]="cantidadTarjetasMostradas"
      [type]="'favoritehome'"
      (favorito)="eliminarNuevoLanzamientoFavorito($event)">
    </app-tarjetas>
  </div>
</div>
<!-- FIN FAVORITOS -->



<!-- BUSQUEDA -->
<div *ngIf="mostrarContenido"> <!-- Si el contenido del formulario de busqueda esta vacio, borra todos los resultados de busqueda anteriores -->
  <div *ngIf="buscarArtista; then artista else cancion"></div>
    <!-- Renderizar las tarjetas de los artistas buscados-->
    <ng-template #artista>
      <app-tarjetas
        [items]="artistas"
        [cantidadTarjetasMostradas]="cantidadTarjetasMostradas"
        [type]="'artist'"
        (favorito)="_favoritos.guardarArtistaFavorito($event)">
      </app-tarjetas>

      <!-- Boton de mostrar mas... -->
      <div *ngIf="mostrarContenido"> <!-- Oculta el boton de mostrar mas si el contenido del formulario de busqueda esta vacio -->
        <div *ngIf="cantidadTarjetasMostradas < artistas.length"> <!-- Mientras no llegue al final del arreglo, sigue apareciendo el boton de mostrar mas -->
          <app-show-more-button [type]="'search'" (mostrarMasTarjetas)="increaseShowSearch()"></app-show-more-button>
        </div>
      </div>
    </ng-template>

     <!-- Renderizar las tarjetas de las canciones buscadas -->
    <ng-template #cancion>
      <app-tarjetas
        [items]="canciones"
        [cantidadTarjetasMostradas]="cantidadTarjetasMostradas"
        [type]="'track'"
        (favorito)="_favoritos.guardarCancionFavorita($event)">
      </app-tarjetas>

      <!-- Boton de mostrar mas... -->
      <div *ngIf="mostrarContenido"> <!-- Oculta el boton de mostrar mas si el contenido del formulario de busqueda esta vacio -->
        <div *ngIf="cantidadTarjetasMostradas < canciones.length"> <!-- Mientras no llegue al final del arreglo, sigue apareciendo el boton de mostrar mas -->
          <app-show-more-button [type]="'search'" (mostrarMasTarjetas)="increaseShowSearch()"></app-show-more-button>
        </div>
      </div>
    </ng-template>
</div>
<!-- FIN BUSQUEDA -->




