/* fondo negro y letra blanca */
body {
  background-color: black;
  color: white;
}

/*separacion y color de letra de los botones del body */
.badge {
  margin-left: 5px;
   font-weight: bold;
  color: purple;
  /* color: black; */
}

/* margen y color de la letra que pertenece al nombre de la cancion */
.card-title {
  color: black;
  margin-left: 5px ;
  /* font-weight: bold; */
}


