<div class="card-columns margenes" [ngClass]="{'margenes-favoritos': isFavorite(type)===true}">
  <!-- Muestro las canciones de a lotes, segun el valor de show -->
  <div *ngFor="let item of items | slice:0:cantidadTarjetasMostradas; let i=index">
    <div class="card">
      <!-- para que todas las imagenes tengan el mismo tamaño. Se usa la clase embed-responsive con sus distintas propiedades, tanto en la etiqueta div como en la etiqueta img -->
      <div class="embed-responsive embed-responsive-1by1">
        <div *ngIf="isTrack(type)===true; then track else noTrack"></div>
        <ng-template #track>
        <img class="card-img-top embed-responsive-item img-fluid" [src]="item.album.images | noimage" alt="..."/>
        </ng-template>
        <ng-template #noTrack>
        <img class="card-img-top embed-responsive-item img-fluid" [src]="item.images | noimage" alt="..."/>
        </ng-template>
      </div>

      <!-- Boton agregar/eliminar favoritos -->
      <div *ngIf="isFavorite(type)===true; then favorito else noFavorito"></div>
      <ng-template #favorito>
        <button Class="button-delete-favorite-image" (click)="procesarFavorito(i)"></button>
      </ng-template>
      <ng-template #noFavorito>
        <button Class="button-favorite-image" (click)="procesarFavorito(items[i])"></button>
      </ng-template>
      <!-- Fin Boton agregar/eliminar favoritos -->

      <!-- Estilo del body de las tarjetas -->
      <div class="card-body" [ngClass]="{'color-body-home': getElementType(type)==='home', 'color-body-artist': getElementType(type)==='artist', 'color-body-track': getElementType(type)==='track' }"> <!-- Pinta el body del color que le llega como input del componente padre -->
        <div [ngSwitch]="getElementType(type)">
          <div *ngSwitchCase="'home'">
            <!-- text truncate corta el texto para que el body quede del mismo tamaño --> <!-- El atributo data-title me muestra la informacion completa de lo que contiene, al pasar el mouse por encima del texto truncado. En este caso, muestra el nombre completo de la cancion -->
            <div class="card-title text-truncate card-title-home card-title-track-search" data-title="{{item.name}}">{{ item.name }}</div>
            <p class="card-text text-truncate">
              <!-- Pongo todos los artistas que cantan ese tema en botoncitos amarillos -->
              <span Class="badge badge-warning artist-name-home" *ngFor="let item of item.artists" data-title="{{ item.name }}"> {{ item.name }} </span>
            </p>
            <iframe [src]="'https://open.spotify.com/embed/album/' | safeurl: item.id" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
            <div *ngSwitchCase="'artist'">
              <div class="card-title text-truncate card-title-artist-search" data-title="{{ item.name }}">{{ item.name }}</div>
            </div>
            <div *ngSwitchCase="'track'">
              <div class="card-title text-truncate card-title-track-search" data-title="{{ item.name }} - {{ item.artists[0].name }}">{{ item.name }} - {{item.artists[0].name}}</div> <!-- Nombre de la cancion y nombre del cantante -->
              <div *ngIf="getElementType(type)==='track'">
                <!-- <audio [src]="item.preview_url" controls></audio> -->
                <!--  <iframe [src]="item.id | safeurl" width="300" height="80" frameborder="0" allowtransparency="true"></iframe> -->
                <iframe [src]="'https://open.spotify.com/embed/track/' | safeurl: item.id" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              </div>
            </div>
          <div *ngSwitchDefault></div>
        </div>
      </div>
    <!-- Fin Estilo del body de las tarjetas -->
  </div>
</div>

